*{
  font-size: 1.3rem;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
  background-color: rgb(88, 164, 235);
  height: 100vh;
}
.container {
  display: flex;
  padding: 1.5rem;
  justify-content:space-between;
  flex-direction: column;
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
  background-color: rgb(255, 255, 255);
  height: 40rem;
  align-items: center;
  margin-top: 6rem;
  position: absolute;
  align-content: flex-end;
  top: 45%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}
