*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

html, body {
  background-color: #3B8EED;
  height: 100vh;
}
.contenedor {
  display: flex;
  padding: 1.6rem;
  flex-direction: column;
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
  background-color: #F8F8F8;
  height: 34rem;
  align-items: center;
  width: 100%;
  max-width: 600px;
  gap: 2rem;
  margin-top: 6rem;
  position: absolute;
  align-content: flex-end;
  font-size: 1rem;
  top: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}

.contenedor h1{
  color: #000000;
  font-size: 1.3rem;
}

.contenedor h2 {
  color: #000000;
  height: 72px;
  width: 340px;
  left: 37px;
  top: 197px;
  border-radius: nullpx;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin-top: 15px;
  letter-spacing: 0em;
  text-align: center;
    

}
.contenedor .logearse {
  background-color: rgb(88, 164, 235);
  padding: 12px 5rem; 
  border-radius: 1rem;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  border: none;
  margin-top: 4rem;
}

.contenedor form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.contenedor input[ type="checkbox" ]{
    display: flex;
    width: 50px;
    height: 40px;
    margin-top: 40px;
}

.contenedor label {
  padding-right: 6rem;
  left: 3rem;
}